/* about-me text section */
.about {
    padding-bottom: 50px;
    padding-top: 20px;
}

.text-container {
    text-align: center;
}

.text-container h1 {
    font-size: 45px;
    font-family: "Geologica", "sans-serif";
    font-weight: 700;
    font-style: normal;
    margin-top: -10px;
}

.text-container h5 {
    font-weight: 550;
    font-size: 23px;
}


/* about-me contents */
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 0 auto;
    padding-top: 100px;
    width: 80%;
}


/* about-me image styling */

.about-me-img .hover-image-container {
    border-radius: 0px;
    width: 460px;
    overflow: hidden;
    /* Ensure images don't overflow border-radius */
}


/* about-me description section */

.about-me-description {
    font-family: "Geologica", "sans-serif";
    width: 80%;
}

.about-me-description h2 {
    font-weight: 700;
    font-size: 33px;
}

.darkmode .about-btn button {
    color: white;
}

.lightmode .about-btn button {
    color: black;
}


.about-me-description h4 {
    font-weight: 600;
    font-size: 25px;
}

.about-me-description p {
    color: rgb(162, 162, 162);
    font-size: 15px;
    font-weight: 450;
}

.responsive-span {
    display: inline;
    /* Default for larger screens */
}

.about-me-description hr {
    margin-top: 20px;
}



.about-me-description-details p {
    color: rgb(162, 162, 162);
    font-weight: 500;
    font-size: 16px;
}

.about-me-description-details span {
    color: rgb(162, 162, 162);
    font-weight: 400;
}

/* New Design Styles */
.new-intro-container {
    padding: 0;
}

.about-me-description .intro-text {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
    margin-bottom: 2rem;
}

.darkmode .intro-text {
    color: #f5f5f5;
}

.logo-circle {
    background-color: #000;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 10px;
    vertical-align: middle;
}

.name-pill {
    font-size: 2.2rem;
    font-family: "Shadows Into Light", serif;
    display: inline-block;
    vertical-align: middle;

}

.role-pill {
    border: 2px solid #ccc;
    padding: 2px 15px;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0 5px;
    display: inline-block;
}

.skills-section-new {
    margin-top: 2rem;
}

.skills-label {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
}

.about-btn {
    text-decoration: none;
}

.btn-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.btn-icons button {
    border: none;
    font-weight: 600;
    padding: 0 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: max(1vw, 13px);
    border-radius: 40px;
    font-family: "Poppins", sans-serif;

}

.btn-icons button:hover {
    color: rgb(162, 162, 162);
}

.btn-icons hr {
    width: 50px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.darkmode .icons a {
    color: white;
}

.lightmode .icons a {
    color: black;
}

.icons a :hover {
    color: rgb(162, 162, 162);
}


@media (max-width: 1024px) {

    .intro-text {
        font-size: 1.8rem;
    }

    .name-pill {
        font-size: 1.6rem;
        padding: 2px 10px;
    }

    .year-pill {
        font-size: 1.2rem;
    }

    .drifting-container {
        height: 200px;
    }

    .skill-tag {
        font-size: 0.8rem;
        padding: 6px 14px;
    }

    .about-me-description .intro-text {
        font-size: 1.5rem;
    }

    .role-pill {
        font-size: 1.3rem;
    }

    .text-container h1 {
        font-size: 30px;
        font-family: "Geologica", "sans-serif";
        font-weight: 700;
        font-style: normal;
    }

    .text-container h5 {
        font-weight: 550;
        font-size: 17px;
    }

    .about-me {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding-top: 50px;
    }

    .about-me-img .hover-image-container {
        width: 100%;
        max-width: 380px;
    }

    .about-me-description h2 {
        font-size: 22px;
    }

    .responsive-span {
        display: block;
        /* Force the span to the next line */
        /* Optional spacing */
    }

    .about-me-description {
        width: 95%;
        /* Match description width to screen size */
        text-align: left;
    }

    .about-me-description h4 {
        font-size: 20px;
    }

    .about-me-description-details p {
        font-size: 16px;
    }

    .btn-icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
    }

    .btn-icons button {
        border: none;
        font-weight: 550;
        padding: 0 30px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        border-radius: 40px;
        font-family: "Poppins", sans-serif;
    }

    .icons {
        gap: 15px;
    }

    .icons i {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .about-me {
        width: 90%;
    }

    .about-me-description {
        width: 100%;
    }
}