.experience {
    padding-top: 50px;
    padding-bottom: 70px;
}

/* title section */
.experience-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-title h2 {
    margin-top: -17px;
    font-weight: 600;
    font-family: "Geologica", "sans-serif";
    font-size: 38px;
}

.experience-title p {
    color: rgb(162, 162, 162);
}


/* block section */

.experience-block-section {
    display: flex;
    flex-direction: column;
    /* Stack vertically */
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-top: 50px;
    margin: 0 auto;
    width: 80%;
    /* Match about section width */
}

.experience-block-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* Full width of container */
}

.experience-block {
    width: 100%;
    /* Full width */
    min-height: 200px;
    height: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.experience-date {
    font-size: 13px;
    font-weight: 700;
    color: rgb(162, 162, 162);
    font-family: "Geologica", "sans-serif";
    margin: 0;
}

.experience-desc {
    margin-top: 15px;
    font-size: 13px;
    color: rgb(162, 162, 162);
    font-family: "Geologica", "sans-serif";
}


.darkmode .experience-block {
    background-color: #161616;
}

.lightmode .experience-block {
    background-color: rgb(233 233 233)
}

.experience-block h6 {
    color: rgb(162, 162, 162);
    font-weight: 500;
    font-size: 15px;
    font-family: "Geologica", "sans-serif";
}

.experience-block h4 {
    font-family: "Geologica", "sans-serif";
    font-weight: 600;
    font-size: 22px;
    padding-top: 6px;
}

.lightmode .experience-block h4 {
    color: black;
}

.darkmode .experience-block h4 {
    color: #ffff;
}


/* Reusing year styles from education.css if globally available, otherwise redefining */
.year {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    height: 25px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    white-space: nowrap;
}

.year p {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
}


/* hover section */
.experience-block-hover {
    height: 2px;
    width: 100%;
    /* Full width */
}

.experience-block-main:hover .experience-block-hover {
    background-color: var(--hover-color);
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {

    .experience {
        padding-top: 10px;
        padding-bottom: 0%;
    }

    .experience-title h2 {
        margin-top: -17px;
        font-weight: 600;
        font-family: "Geologica", "sans-serif";
        font-size: 28px;
    }

    .experience-title p {
        font-size: 14px;
    }

    .experience-block-section {
        width: 90%;
    }

    .experience-block {
        height: auto;
        /* Allow auto height on small screens */
        padding: 30px;
    }

    .experience-block h4 {
        font-size: 20px;
    }

    .experience-block h6 {
        font-size: 13px;
    }

}