.services {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 90px;
}

/* heading section */

.services-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-heading p {
    color: rgb(162, 162, 162);
}

.services-heading h2 {
    margin-top: -17px;
    font-weight: 600;
    font-family: "Geologica", "sans-serif";
    font-size: 38px;
}

.services-block-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 50px;
    max-width: 1250px;
    justify-items: center;
}

.block {
    display: flex;
    flex-direction: column;
}

.services-block {
    width: 380px;
    height: 260px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-block-contents {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 35px;
    gap: 10px;
}

.services-block-contents p {
    font-size: 13px;
    color: rgb(162, 162, 162);
    font-family: "Geologica", "sans-serif";
}

.services-block-contents h3 {
    font-family: "Geologica", "sans-serif";
}

.services-block-contents i {
    font-size: 50px;
}

.lightmode .services-block {
    background-color: rgb(233 233 233);
}

.darkmode .services-block {
    background-color: #161616;
}

.darkmode .services-block h3 {
    color: #ffff;
    margin: 0%;
    padding: 0%;
}

.lightmode .services-block h3 {
    color: black;
    margin: 0%;
    padding: 0%;
}

.services-hover-div {
    width: 380px;
    height: 2px;
}

.block:hover .services-hover-div {
    background-color: var(--hover-color);
    transition: background-color 0.3s ease;
}

@media (max-width: 1200px) {
    .services-block-main {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}

@media (max-width: 767px) {

    .services {
        padding-top: 80px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-heading h2 {
        font-size: 28px;
    }

    .services-heading p {
        font-size: 14px;
    }

    .services-block-main {
        margin-top: 30px;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .services-block {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .services-block-contents i {
        font-size: 49px;
    }

    .services-block-contents h3 {
        font-size: 22px;
    }

    .services-block-contents p {
        font-size: 13px;
    }

    .services-hover-div {
        height: 2px;
    }
}